<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--组件扫描  扫描com.aop包下所有带@Component注解的类都会被Spring托管-->
    <context:component-scan base-package="com.aop"></context:component-scan>
    <!--thing事件-->
    <bean id="transDemo" class="com.aop.thing.TransDemo"></bean>

    <!--<aop:config>
        <aop:pointcut expression="execution(* com.aop.service.*.*.*(..))" id="p1"/>

        <aop:aspect ref="transDemo">
            &lt;!&ndash;前置通知&ndash;&gt;
            <aop:before method="begin" pointcut-ref="p1"/>
            &lt;!&ndash;后置通知&ndash;&gt;
            <aop:after-returning method="end" pointcut-ref="p1"/>
            &lt;!&ndash;环绕通知&ndash;&gt;
            <aop:around method="around" pointcut-ref="p1"/>
        </aop:aspect>
    </aop:config>-->
    <bean id = "transactionDemo2" class = "com.aop.thing.TransDemo2" />
    <aop:aspectj-autoproxy />

</beans>